@import "tailwindcss";

@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0px); }
}

.animate-floating {
  animation: floating 3s ease-in-out infinite;
}
